name: Desployment Infraestructura
on:
    push:
        branches: [ master ]
jobs:
    terraform:
        runs-on: ubuntu-latest
        steps:
            - name: code checkout
              uses: actions/checkout@v6

            - name: list the source code
              run: ls -la

            - name: setup terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: "1.14.6"
            - name: create .tfvars
              run: |
                cat <<EOF > terraform.tfvars
                prefix       = "moudulo"
                enviroment   = "lab"
                network_name = "vpc-demo-modules"
                vm_name      = "pc-for-edward"
                vm_tags      = ["env-demo", "https-server", "owner-rtenesaca"]
                vm_image     = "debian-cloud/debian-11"
                vm_type      = "e2-standard-2"
                vm_zone      = "us-central1-c"
                vm_labels    = { "env" = "demo", "app" = "webserver", "owner" = "rtenesaca" }
                EOF
            - name: terraform init
              run: terraform init

            - name: terraform plan
              run: terraform plan -input=false

            - name: apply plan
              run: terraform apply -auto-approve -input=false

            - name: upload result
              uses: actions/upload-artifact@v4
              with:
                name: certificado-final
                path: certificacion.txt

